body {
    background:
        fixed linear-gradient(to bottom, darkmagenta, black 28%);
    color: white;
    margin: 5% 10% 5% 10%;
}

.Whole {
    padding: 25px 50px;
    background-color: black;
    border-left: 1px solid purple;
    border-right: 1px solid purple;
}

#ChessBasicsFromANoobLikeMe {
    border-bottom: 1px solid darkmagenta;
}

a {
    color: skyblue;
}

h1 a{
    color: whitesmoke;
}
h2 a{
    color: teal;
}

.enPassantWrap {
    display: flex;
    gap: 15px;
}

#enPassantP {
    flex-grow: 1;
}

#enPassantI {
    flex-grow: 0;
    width: 200px;
}

footer {
    color: white;
    text-align: center;
}